<div class="col-md-8">
<form>
  <div class="form-group">
    <label for="firstname">FirstName:</label>
    <input type="text" id="firstname" placeholder="Enter Your First Name">
  </div>
  <div class="form-group">
    <label for="lastname">LastName:</label>
    <input type="text" id="lastname" placeholder="Enter Your Last Name">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" placeholder="Enter Email Address" >

  </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-default">Cancel</button>
</form>
</div>